* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #101214;
  color: white;
}

/* Share styles */
.task-item {
  background-color: #1d1f21;
  padding: 10px;
  border-radius: 10px;
}

.taskcard__actionbtn {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  background-color: #00ad45;
  padding: 6px 18px;
  display: inline-block;
  border-radius: 4px;
  margin-left: auto;
}
/* **** */

.tasklistcontainer {
  max-width: 1080px;
  margin: 0 auto;
}
.taskcard {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.taskcard__card-text {
  display: flex;
  flex-direction: column;
}

.taskcard__task-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.1em;
}
.taskcard__task-profile-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0 10px 0;
}

.taskcard__img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.taskcard__name {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.1em;
}

.taskcard__task-description {
  font-size: 13px;
  color: #4f5152;
}

.taskcard__actionbtn--send {
  margin-top: 10px;
}

/* Add task */

.addtask {
  /* background-color: #070606; */
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}

.addtask__createtaskbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 4px;
  padding: 10px 0 10px 0px;
  cursor: pointer;
  background-color: #000000;
}

.addtask__btn-text {
  font-size: 15px;
}

.addTask__insertcard {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  margin-top: 10px;
}

.addTask__insertcard form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
}

.addTask__inputcontainer {
  display: flex;
  flex-direction: column;
}

.addTask__textinput {
  background-color: #4f5152;
  color: #919191;
  padding: 6px;
  border: none;
  border-radius: 2px;
}

textarea.addTask__textinput {
  resize: none;
}

::placeholder {
  color: #919191;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12-18 */
  color: #919191;
}

.taskcard__actionbtncontainer {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 6px;
  gap: 10px;
}

.taskcard__closebtn {
  border-radius: 2px;
  cursor: pointer;
}
.taskcard__closebtn:hover {
  background-color: #4d4d4d;
}
