* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #101214;
  color: white;
}

.tasklistcontainer {
  max-width: 300px;
  padding: 10px;
}
.taskcard {
  background-color: #1d1f21;
  border-radius: 10px;
}

.taskcard__card-text {
  padding: 10px;
}

.taskcard__task-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.1em;
}
.taskcard__task-profile-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0 10px 0;
}

.taskcard__img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.taskcard__name {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.1em;
}

.taskcard__task-description {
  font-size: 13px;
  color: #4f5152;
}

.addtask {
  background-color: #070606;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}

.addtask__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 0 10px 0px;
  cursor: pointer;
}

.addtask__btn-text {
  font-size: 15px;
}
