:root {
  --text-color: #6c6d6e;
  --input-background: #444546;
  --input-color: #919191;
  --background-color: #1d1f21;
  --body-color: #101214;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--body-color);
  color: white;
}

/* Share styles */
.task-item {
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 10px;
}

.taskcard__actionbtn {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  background-color: #00ad45;
  padding: 6px 18px;
  display: inline-block;
  border-radius: 4px;
  margin-left: auto;
}
/* **** */

.tasklistcontainer {
  max-width: 1080px;
  margin: 0 auto;
}
.taskcard {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.taskcard__card-text {
  display: flex;
  flex-direction: column;
}

.taskcard__header {
  display: flex;
  align-items: center;
}

.taskcard__menu {
  position: relative;
  margin-left: auto;
}

.taskcard__menubtn {
  cursor: pointer;
}

.taskcard__menucontainer {
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
    /* shadow ring 👇 */ 0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */ 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
  outline: none;
  border-radius: 6px;

  position: absolute;
  top: 0;

  padding: 10px 0 10px 0;
}

.taskcard__menuheader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 10px;
}

.taskcard__menuheading {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.6;
  color: var(--text-color);
  text-align: center;
}

.taskcard__menuclose {
  color: var(--text-color);
  width: 20px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate(0%, -50%);
  border-radius: 4px;
  cursor: pointer;
}

.taskcard__menuitems {
  display: flex;
  flex-direction: column;
}

.menu-item {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 1.1rem;
  color: var(--text-color);
  list-style-type: none;
  cursor: pointer;

  padding: 6px 15px 6px 15px;
}

.menu-item:hover {
  background-color: #3b3b3b;
}

.taskcard__task-name {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.1em;
  color: var(--text-color);
}
.taskcard__task-profile-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0 10px 0;
}

.taskcard__img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.taskcard__name {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.1em;
  color: var(--text-color);
}

.taskcard__task-description {
  font-size: 13px;
  color: var(--text-color);
}

.taskcard__actionbtn--send {
  margin-top: 10px;
}

/* Add task */

.addtask {
  /* background-color: #070606; */
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}

.addtask__createtaskbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 4px;
  padding: 10px 0 10px 0px;
  cursor: pointer;
  background-color: #000000;
  color: var(--text-color);
}

.addtask__btn-text {
  font-size: 15px;
  font-weight: 600;
}

.addTask__insertcard {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  margin-top: 10px;
}

.addTask__insertcard form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
}

.addTask__inputcontainer {
  display: flex;
  flex-direction: column;
}

.addTask__textinput {
  background-color: var(--input-background);
  color: var(--input-color);
  padding: 6px;
  border: none;
  border-radius: 2px;
}

textarea.addTask__textinput {
  resize: none;
}

::placeholder {
  color: #919191;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12-18 */
  color: #919191;
}

.taskcard__actionbtncontainer {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 6px;
  gap: 10px;
}

.taskcard__closebtn {
  border-radius: 2px;
  cursor: pointer;
  color: var(--text-color);
  width: 24px;
}
.taskcard__closebtn:hover,
.taskcard__menuclose:hover {
  background-color: #3b3b3b;
}
